<div class="modal-header">
    <h3 class="modal-title">写真をアップロード</h3>
</div>
<div class="modal-body">
    <div accept=".jpg,.png,.gif" ng-multiple="true" drag-over-class="file-upload-dragover" ng-model="files" ng-file-drop class="file-upload-area">
        <span class="fa fa-cloud-upload fa-5x"></span>
        <p><span class="lead">ファイルをドロップ</span><br>または</p>
        <label class="btn btn-info btn-lg" for="file">ファイルを選択</label>
        <input type="file" ng-file-change="upload($files)" ng-file-select multiple="multiple" name="file" id="file">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">閉じる</button>
</div>
